*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  /* website body */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgb(255, 146, 255);
    line-height: 1.5;
  }
/* menu settings */
ul{
    list-style-type: none;
}
  
a{
  text-decoration: none;
  color: blue;
}
h1,h2{
   font-weight: 300;
   line-height: 1.2;
   margin: 10px 0px;
}
p{
   margin: 10px 0;
} 
.logo{
  display: flex;
  align-items: center;
}
.menu{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: white;
  color: black;
  height: 120px;
}
.menu ul{
  display: flex;
}
.link{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  color: black;
  padding: 10px;
  margin: 0 5px;

}
.link:hover{
  border-bottom: 2px violet solid;
  transition: .1s;
}
.menu .flex{
  justify-content: space-between;
}
.logo-title{
  font-size: xx-large;
  color: black;
}

/* biography */
.life{
  margin-top: 20px;
}
.life-text{
  background-color: white;
  margin: 10px 10px;
  padding: 10px 10px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.4);
}
.life-h1{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: xx-large;
  color: black;
}
.life-p1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
  color: black;
}
.grid {
  display: grid;
  grid-template-columns:repeat(2,1fr);
  gap: 10px;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.btn{
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  border:none;
  font-size: 20px;
  color: black;
  transition: .5s;
  border-radius: 10px;
  width: 165px;
  text-align: center;
}
.btn:hover{
  background-color: #ffff33;
}
.btn-outline{
  background-color: transparent;
  border: 1px black solid;
}
.life-pic {
  display: grid;
  grid-template-columns:repeat(2,1fr);
  justify-content: center;
  align-items: center;
  height: 100%;
}
.baby-pic1{
  grid-column: 1/2;
  grid-row: 1/2;
  height: 270px;
  width: 250px;
}
.baby-pic2{
  grid-column: 2/3;
  grid-row: 2/3;
  height: 270px;
  width: 250px;
}
/* Album List */
.album-list {
  display: grid;
  grid-template-columns:repeat(2,1fr);
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.4);
  
}
.album-hh1{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 40px;
  color: black;
}
.album-h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: x-large;
  color: black;
}
.album-p1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
  color: black;
}
.album-pic{
  display: grid;
  grid-template-columns:repeat(2,1fr);
  margin-top: -100px;
  gap: 5px;
}
.albumpic1{
  grid-column: 2/3;
  grid-row: 2/3;
}
.albumpic2{
  grid-column: 1/2;
  grid-row: 1/2;
}


/* Films and TV Dramas */
.title{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 40px;
  color: black;
  text-align: center;
}
.drama{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin-top: 30px;
  gap: 5px;
  height: 600px;
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 27px;
  text-align: center;
}
.films{
  width: 300px;
  height: 500px;
  border-radius: 5px;
}
.drama-title{
  cursor: pointer;
  border:none;
  transition: .3s;
  border-radius: 10px;
  color: black;
}
.drama-title:hover{
  color: #ffff33;
}
.btn-dramas{
  display: block;
  cursor: pointer;
  font-size: 20px;
  color: black;
  transition: .3s;
  border-radius: 10px;
  border: 1px black solid;
  height: 70px;
  margin-top: 200px;
  padding-top: 17px;
  text-align: center;
}
.btn-dramas:hover{
  background-color: #ffff33;
}

/* Photos */
.photos{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin-top: 30px;
  gap: 0px;
  height: 1000px;
}
.pic{
  width: 250px;
  height: 300px;
  border-radius: 10px;
}
.btn-photos{
  display: block;
  cursor: pointer;
  font-size: 20px;
  color: black;
  transition: .3s;
  border-radius: 10px;
  border: 1px black solid;
  height: 60px;
  margin-top: 120px;
  padding-top: 13px;
  text-align: center;
}
.btn-photos:hover{
  background-color: #ffff33;
}

/* Social media links */

.socmed-links{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10px 10px;
  font-family: monospace;
  font-size: 25px;
}
.links{
  cursor: pointer;
  border:none;
  transition: .3s;
  border-radius: 10px;
  color: black;
}
.links:hover{
  color: #ffff33;
}

/* Footer */
.footer{
  background-color: white;
  width: 100%;
  padding: 20px 20px;
}
.author{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
}
.aut-link{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
  margin-right: 20px;
}
.a-link{
  width: 60px;
  height: 60px;
}

/* structure */

.flex {
  display: flex;
  justify-content: space-between;
  align-items:center;
  height: 100%;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 20px;
}
.container-single {
  max-width: 1100px;
  margin: 10px auto;
  overflow: auto;
  padding: 0 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.4);
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #ffff33;
  transition: .3s;
}